body {
	background-color: #06A933;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
	text-decoration: none;
	color:crimson;
}

a:visited {
	color:#0000FF;
}

a:hover {
	color:white;
}

nav {
	background-color: rgb(64, 32, 64);
}

aside {
	background-color: #0000FF;
}

nav, aside {
	color:burlywood
}

section {
	border: 1px solid black;
}

h1 {
	box-shadow: 3px 3px 5px 1px black;
	font-size: 72px;
	text-shadow: 5px 5px 2px grey;
	text-align: center;
}

p {
	font-size:16px;
	text-align: justify;
}

span {
	font-weight: bold;
}

main {
	background-color: grey;
	width:90%;
	margin: 0 auto;
}

li {
	list-style: none;
}

nav h3 {
	color:yellow;
}

aside h3 {
	color:aqua;
}

.subTitle1 {
	text-shadow: 2px 2px 3px red;
}

.subTitle2 {
	text-shadow: 4px 6px 1px green;
}

.subTitle3 {
	text-shadow: 8px 2px 3px black;
}